<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>cmrwebdev framework</title>
	<meta name="author" content="Cmrwebdev">
	<meta name="description" content="framework css php cmrwebstrap">
	<meta name="keywords" content="framework css php html">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">

	<link rel="icon" type="image/png" href="../../cmrweb/favicon.png" />
	<base href="" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../../cmrweb/asset/css/prism.css">
	<link rel="stylesheet" type="text/css" href="../../cmrweb/asset/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../../cmrweb/asset/css/cmrstyle.css">
	<link rel="stylesheet" type="text/css" href="../../cmrweb/asset/css/style.css">
	<script src="../../cmrweb/asset/js/jquery-3.2.1.min.js"></script>
	<script src="../../cmrweb/asset/js/ajax.js"></script>
		
</head>
<body>
<header class="fixhead xlarge light">
<h1>CMRWEB<span>Camara</span><span>Enrique</span></h1>

</header>
    <main class="Mtop">

<h2> salut {{ name }}</h2>

{% block content %}{% endblock %}


</main>

<footer>
</footer>


<script src="../../cmrweb/asset/js/prism.js"></script>
<script src="../../cmrweb/asset/js/script.js"></script>
<script>
    $(document).ready(()=>{
        $('#imgpreview').hide();
    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            
            var reader = new FileReader();
            reader.onload = function(e) {
                $('#imgpreview').attr('src', e.target.result);
            }
            if (input.files[0]) {
            reader.readAsDataURL(input.files[0]);
            }
        }

    }

    $("#upload").change(function() {
        $('#imgpreview').show();
        readURL(this);
    });
</script>
</body>

</html>