/*****************************************************************************************
COMMUN
*****************************************************************************************/

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "mukta";
    src: url(../fonts/Mukta-Regular.ttf);
}

pre {
    border: 1px solid #fff;
}
body{
    background-color: #000000;
    color: #ffffff;
}
h1,
h2,
h3,
h4,
p,
small,
a {
    font-family: "mukta";
    text-align: center;
    margin: 0 auto;
}
small{
    display: block;
}
.fixhead{
    position: fixed;
    top: 0;
    height: 75px;
    z-index: 100;
}
.xlarge {
    margin: 0 auto;
    width: 100%;
}

.large {
    margin: 0 auto;
    width: 80%;
}
.medium {
    margin: 0 auto;
    width: 50%;
}
.small {
    margin: 0 auto;
    width: 50%;
}
pre.medium {
    margin: 0 auto;
    width: 100%;
    height: 400px;
}

.flexRow {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}

.flexCol {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}
.Resp {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}
.Mtop{
    margin-top: 100px;
}
.img-profil {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.article{
    padding: 10px;
}
/*****************************************************************************************
NAV
*****************************************************************************************/
.nav{
    margin: 10px;
}

.navrad ul:first-child > li:first-child > a{
    border-radius: 20px 20px 0 0;
}
.navrad ul:first-child > li:last-child > a{
    border-radius: 0 0 20px 20px;
}
.navrad ul ul li:last-child a{
    border-radius: 0 0 20px 20px;
}

.nav ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
}
.nav ul ul{
    display: none;
       
}
.nav ul li:hover ul{
    display: flex;
    flex-direction: column;
       
}
.nav ul li,.nav ul ul li{   
    display: grid;    
}
.nav a{
    text-decoration: none;
    border: 1px solid #ccc;
    height: 30px;
    padding: 5px 30px 5px 30px;
    width: 100%;                
}

/*****************************************************************************************
COLOR
*****************************************************************************************/

.primary {
    background-color: #548faa;
    color: #fff;

}

.success {
    background-color: #1dc547;
    color: #fff;

}

.gold {
    background-color: #dfbc0e;
    color: rgb(34, 33, 33);

}

.dark {
    background-color: #031c1d;
    color: #fff;

}

.danger {
    background-color: #a00606;
    color: #fff;

}
.nav a.primary:hover  {
    background-color: #1c8ea5;
    color: #fff;

}

.nav a.success:hover  {
    background-color: #73a025;
    color: #fff;

}

.nav a.gold:hover  {
    background-color: #be9b0e;
    color: #000;

}

.nav a.dark:hover  {
    background-color: #031224;
    color: #fff;

}

.nav a.danger:hover  {
    background-color: #8b0909;
    color: #fff;

}
.navConn{
    position: absolute;
    top: 0;
    z-index: 100;
    right: 0;
}
/*****************************************************************************************
FORM
*****************************************************************************************/
.formSign,.formLog{
    display: none;
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 100;
}
.form {
    margin-bottom: 10px;
}

.form label {
    font-size: 20px;
    padding-left: 10px;
}

.input,
.textarea {
    margin: 0 auto;
    width: 100%;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #ccc;
    padding: 10px;
}
.btn {
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    border: 1px solid #ccc;
}
.btn-link {
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    box-shadow: 0px 5px 5px 5px #ccc;
    border: 1px solid #ccc;
}
/*****************************************************************************************
POSITION
*****************************************************************************************/
.center{
    display:block;
    text-align:center;
    margin: auto;
}


/*****************************************************************************************
PC DISPLAY
*****************************************************************************************/


@media screen and (min-width: 768px) {
    .Resp {
        flex-direction: row;
    }
    .navrad ul:first-child > li:first-child > a{
        border-radius: 20px 0 0 0;
    }
    .navrad ul:first-child > li:last-child > a{
        border-radius: 0 20px 0 0;
    }
    .nav ul{
        display: flex;
        flex-direction: row; 
        position: relative;
    }
    .nav ul ul li{   
        display: grid;
        width: 250px;    
    }
    .nav ul li{   
        display: block;    
    }
    .nav ul li:hover ul{
        position: absolute;
        width: 200px;
        margin-top: 10px;
           
    }
}