.card3D {
    perspective: 800px;
    position: relative;
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 2px solid #031c1d;
    transform: rotate3d(0, 0, 0, 45deg);
    transition: all linear 1s;
    border-radius: 25px;
    box-shadow: #78787859 2px 2px 3px;
    background: #dedfe4b5;
    color: #262626;
    text-shadow: #ffffff 1px 1px 3px;
    z-index: 10;
    max-width: 500px;
}

.card3D img {
    display: none;
}

.card3D section {
    display: flex;

}

.card3D section div {
    width: 100%;
    text-align: center;
}

#topright {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    z-index: 1000;
}

#bottomright {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 0;
    right: 0;
    z-index: 1000;
}

#topleft {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    z-index: 1000;
}

#bottomleft {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

#top {
    position: absolute;
    width: auto;
    height: 40px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 800;
}

#bottom {
    position: absolute;
    width: auto;
    height: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 800;
}

.tuto {
    width: 80%;
    margin: 10px auto;
}

.tuto ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tuto>ul>li {
    padding: 5px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 25px;
    background: #dedfe4;
    color: #f5f5f5;
    text-shadow: #000 1px 1px 3px;
}

.tuto ul li:hover ul li {
    display: block;
}

.tuto ul li ul li {
    /* display: none; */
    margin: 0;
    padding: 5px;
    transition: all linear 1s;
}
.tuto input{
    display: block;
    width: 80%;
    margin: auto;
}
.home.tuto ul li ul li,.home.tuto p {
    text-align: left;
    color:#000;
    text-shadow: #ffffff 1px 1px 3px;
}
img.logo{
    width: 150px;
    height: 150px;
    transition: all .5s linear;
}
img.logo:hover{
    width: 160px;
    height: 160px;
}
a{
    color:#000;
    text-shadow: #ffffff 1px 1px 3px;
}
@media(min-width: 1200px) {
    .card3D {
        width: 25%;
    }    
}
@media(min-width: 1024px) {
    .card3D {
        width: 40%;
    }    
}
@media(min-width: 768px) {
    .card3D img {
        display: block;
        width: 150px;
        height: 180px;
        border-radius: 40px;
    }
    
}
